
.header {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: $dark-blue;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 75px;
    }

    &__navigation {
        display: none;
    }

    &__logo {
        margin: 0 41px 0 0;
    }

    &__button {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
    }

    &__person-link {
        margin: 0 33px 0 0;
    }
}

@media (min-width:375px) and (max-width: 767px) {
    .header__basket {
        display: none;
    }
    .header__person-link {
        display: none;
    }
    .header__button {
        margin: 0;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    
}