.registration {
    &__wrapper {
        width: 1600px;
        height: 148px;
        margin: 0 auto;
        background-color: #F8F3F4;
        justify-content: center;
    }
    
    &__box {
        width: 1138px;
        height: 100%;
        margin: 0 auto;
        display: flex;    
        align-items: center;
    }
    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;    
        text-align: left;
        text-transform: uppercase;
        color: $dark-pink;
    }
    
    &__label,
    &__input {
        display: block;
    }
    
    &__form {
        width: 1600px;
        margin: 0 auto;
        background-color: #E5E5E5;
    }
    
    &__container {
        width: 1138px;
        height: 100%;
        margin: 0 auto;
        display: flex;  
    }
    
    &__input {
        width: 360px;
        height: 45px;
        border: 1px solid #A4A4A4;
        margin-top: 21px;
    }
    
    &__button {
        width: 167px;
        height: 50px;
        background-color: $dark-pink;
        color: $white;
        font-family: Lato;
        font-size: 14px;    
        font-weight: 400;
        line-height: 17px;  
        text-transform: uppercase;
        margin: 39px 0 96px 0;
    }
    
    &__enter {
        margin-top: 64px;
    }
    
    &__description {
        margin: 64px 0 0 128px;
    }
    
    &__radio {
        margin: 32px 10px 33px 0;
    }
    
    &__text {
        width: 360px;
        min-height: 32px;
        margin: 16px 0 0 0;
        font-family: Lato;
        font-size: 13px;    
        font-weight: 300;
        line-height: 16px;  
        color:#B1B1B1;
    }
    
    &__title {    
        font-size: 24px;    
        font-weight: 400;
        line-height: 29px; 
        color: $dark-pink;
        margin: 0 0 22px 0;
    }
    
    &__subtitle {    
        font-size: 24px;    
        font-weight: 300;
        line-height: 29px;   
        margin: 0 0 22px 0;
        color: #000000;
    }
    
    &__bonus {    
        font-size: 24px;    
        font-weight: 300;
        line-height: 29px;    
        color: #000000;
        margin: 0 0 16px 0;
    }
}

